*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f2f2f2;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
  }
  
  .form_wrapper {
    background: #fff;
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 25px;
    margin: 8% auto 0;
    position: relative;
    z-index: 1;
    border-top: 5px solid   #000b43;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: none;
    transition: none;
    -webkit-animation: expand 0.8s 0.6s ease-out forwards;
    animation: expand 0.8s 0.6s ease-out forwards;
    opacity: 0;
  }
  .form_wrapper h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
  }
  .form_wrapper .title_container {
    text-align: center;
    padding-bottom: 15px;
  }
  .form_wrapper h3 {
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0;
  }
  .form_wrapper label {
    font-size: 12px;
  }
  .form_wrapper .row {
    margin: 10px -15px;
  }
  .form_wrapper .row > div {
    padding: 0 15px;
    box-sizing: border-box;
  }
  .form_wrapper .col_half {
    width: 50%;
    float: left;
  }
  .form_wrapper .input_field {
    position: relative;
    margin-bottom: 20px;
    -webkit-animation: bounce 0.6s ease-out;
    animation: bounce 0.6s ease-out;
  }
  .form_wrapper .input_field > span {
    position: absolute;
    left: 0;
    top: 0;
    color: #333;
    height: 100%;
    border-right: 1px solid #cccccc;
    text-align: center;
    width: 30px;
  }
  .form_wrapper .input_field > span > i {
    padding-top: 10px;
  }
  .form_wrapper .textarea_field > span > i {
    padding-top: 10px;
  }
  .form_wrapper input[type=text], .form_wrapper input[type=email], .form_wrapper input[type=password] {
    width: 100%;
    padding: 8px 10px 9px 35px;
    height: 35px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .form_wrapper input[type=text]:hover, .form_wrapper input[type=email]:hover, .form_wrapper input[type=password]:hover {
    background: #fafafa;
  }
  .form_wrapper input[type=text]:focus, .form_wrapper input[type=email]:focus, .form_wrapper input[type=password]:focus {
    -webkit-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
    -moz-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
    box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
    border: 1px solid   #000b43;
    background: #fafafa;
  }
  .form_wrapper input[type=submit] {
    background:   #000b43;
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .form_wrapper input[type=submit]:hover {
    background:   #000b43;
  }
  .form_wrapper input[type=submit]:focus {
    background:   #000b43;
  }
  .form_wrapper input[type=checkbox], .form_wrapper input[type=radio] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .form_container .row .col_half.last {
    border-left: 1px solid #cccccc;
  }
  
  .checkbox_option label {
    margin-right: 1em;
    position: relative;
  }
  .checkbox_option label:before {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-right: 0.5em;
    vertical-align: -2px;
    border: 2px solid #cccccc;
    padding: 0.12em;
    background-color: transparent;
    background-clip: content-box;
    transition: all 0.2s ease;
  }
  .checkbox_option label:after {
    border-right: 2px solid #000b43;
    border-top: 2px solid #000b43;
    content: "";
    height: 20px;
    left: 2px;
    position: absolute;
    top: 7px;
    transform: scaleX(-1) rotate(135deg);
    transform-origin: left top;
    width: 7px;
    display: none;
  }
  .checkbox_option input:hover + label:before {
    border-color: #000b43;
  }
  .checkbox_option input:checked + label:before {
    border-color: #000b43;
  }
  .checkbox_option input:checked + label:after {
    -moz-animation: check 0.8s ease 0s running;
    -webkit-animation: check 0.8s ease 0s running;
    animation: check 0.8s ease 0s running;
    display: block;
    width: 7px;
    height: 20px;
    border-color: #000b43;
  }
  
  .radio_option label {
    margin-right: 1em;
  }
  .radio_option label:before {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-right: 0.5em;
    border-radius: 100%;
    vertical-align: -3px;
    border: 2px solid #cccccc;
    padding: 0.15em;
    background-color: transparent;
    background-clip: content-box;
    transition: all 0.2s ease;
  }
  .radio_option input:hover + label:before {
    border-color: #000b43;
  }
  .radio_option input:checked + label:before {
    background-color: #000b43;
    border-color: #000b43;
  }
  
  .select_option {
    position: relative;
    width: 100%;
  }
  .select_option select {
    display: inline-block;
    width: 100%;
    height: 35px;
    padding: 0px 15px;
    cursor: pointer;
    color: #7b7b7b;
    border: 1px solid #cccccc;
    border-radius: 0;
    background: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all 0.2s ease;
  }
  .select_option select::-ms-expand {
    display: none;
  }
  .select_option select:hover, .select_option select:focus {
    color: #000b43;
    background: #fafafa;
    border-color: #000b43;
    outline: none;
  }
  
  .select_arrow {
    position: absolute;
    top: calc(50% - 4px);
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-width: 8px 5px 0 5px;
    border-style: solid;
    border-color: #7b7b7b transparent transparent transparent;
  }
  
  .select_option select:hover + .select_arrow, .select_option select:focus + .select_arrow {
    border-top-color: #000b43;
  }
  
  .credit {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 15px;
    color:   #000b43;
  }
  .credit a {
    color:   #000b43;
  }
  
  @-webkit-keyframes check {
    0% {
      height: 0;
      width: 0;
    }
    25% {
      height: 0;
      width: 7px;
    }
    50% {
      height: 20px;
      width: 7px;
    }
  }
  @keyframes check {
    0% {
      height: 0;
      width: 0;
    }
    25% {
      height: 0;
      width: 7px;
    }
    50% {
      height: 20px;
      width: 7px;
    }
  }
  @-webkit-keyframes expand {
    0% {
      -webkit-transform: scale3d(1, 0, 1);
      opacity: 0;
    }
    25% {
      -webkit-transform: scale3d(1, 1.2, 1);
    }
    50% {
      -webkit-transform: scale3d(1, 0.85, 1);
    }
    75% {
      -webkit-transform: scale3d(1, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
  @keyframes expand {
    0% {
      -webkit-transform: scale3d(1, 0, 1);
      transform: scale3d(1, 0, 1);
      opacity: 0;
    }
    25% {
      -webkit-transform: scale3d(1, 1.2, 1);
      transform: scale3d(1, 1.2, 1);
    }
    50% {
      -webkit-transform: scale3d(1, 0.85, 1);
      transform: scale3d(1, 0.85, 1);
    }
    75% {
      -webkit-transform: scale3d(1, 1.05, 1);
      transform: scale3d(1, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
  @-webkit-keyframes bounce {
    0% {
      -webkit-transform: translate3d(0, -25px, 0);
      opacity: 0;
    }
    25% {
      -webkit-transform: translate3d(0, 10px, 0);
    }
    50% {
      -webkit-transform: translate3d(0, -6px, 0);
    }
    75% {
      -webkit-transform: translate3d(0, 2px, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  @keyframes bounce {
    0% {
      -webkit-transform: translate3d(0, -25px, 0);
      transform: translate3d(0, -25px, 0);
      opacity: 0;
    }
    25% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
    50% {
      -webkit-transform: translate3d(0, -6px, 0);
      transform: translate3d(0, -6px, 0);
    }
    75% {
      -webkit-transform: translate3d(0, 2px, 0);
      transform: translate3d(0, 2px, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  @media (max-width: 600px) {
    .form_wrapper .col_half {
      width: 100%;
      float: none;
    }
  
    .bottom_row .col_half {
      width: 50%;
      float: left;
    }
  
    .form_container .row .col_half.last {
      border-left: none;
    }
  
    .remember_me {
      padding-bottom: 20px;
    }
  }

  .title_container{
    color:   #000b43;
    font-weight: bolder;
  }

  li{
    list-style: none;
  }
  .navbar{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    background-color:   #000b43;
    position: relative;
  }
  .nav-menu{
    display: flex;
    align-items: center;
  }
  .nav-branding{
    font-size: 2rem;
  }
  /* transition for links */
  .nav-link{
    transition: 0.5s ease;
  }
  .nav-link:hover{
    color: dodgerblue;
  }
  .hamburger{
    display: none;
    cursor: pointer;
  }
  .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: white;
  }
  .nav-item{
    padding: 0 1.5rem;
  }



  @media(max-width: 760px){
    .bar{
      display: block;
    }
    .hamburger{
      display: block;
    }
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: rotate(45deg) translateY(11.5px); 
    }  
    .hamburger.active .bar:nth-child(3){
      transform: rotate(-45deg) translateY(-11.5px); 
    }
    .nav-menu{
      position: fixed;
      right: -100%;
      top: 70px;
      flex-direction: column;
      width: 100%;
      text-align: center;
      background: black;
      transition: 0.3s;
    }
    .nav-item{
      padding: 1.5rem 0;
    }
    
    .nav-menu.active{
      right: 0;
      z-index: 55;
    }
    
  }
  #fb{
    width:325px;
    margin: auto;
    border:1px solid gray;
    border-radius:5px;
    position:relative;
    height:175px;
    background-color: white;
  }
  #fb p{
    font-family:sans-serif;
    margin: -10px 0rem;
    font-weight: 600;
    line-height:30px;
  }
  
  #fb-top span{
    color:  #000b43;
    float:right;
    margin-right:10px;
  }
  #fb-top{
    background-color:#efefef;
    height:30px;
    width:500px;
    border-radius:5px 5px 0 0;
    position:absolute;
    top:-1px;
    left:-1px;
    border:1px solid gray;
  }
  
  #fb img{
    position:absolute;
    left:10px;
    top:52.5px;
  }
  
  #info{
    position:absolute;
    left:120px;
    top:75px;
  }
  
  #info {
    color:  #000b43;
    line-height:25px;
    font-size:18px;
  }
  
  #info span{
    color:#777;
    font-size:14px;
  }
  
  #button-block{
    position:absolute;
    right: 40px;
    top: 110px;
  }
  
  #button-block div{
    display:inline-block;
  }
  
  #confirm, #delete{
    background-color:  #000b43;
    color:white;
    padding:7px;
    border-radius:2px;
    margin-right:10px;
    font-family:sans-serif;
  }
  
  #delete{
    color:#222;
    background-color:#dedede;
    padding:6px;
    margin-right:0;
  }
  
  #button-block div:hover{
    opacity:.8;
    cursor:pointer;
  }
  .allImg{
    flex-wrap: wrap;
    
  }
  .allImg .img{
    /* width: 9rem;
    height: 4rem; */
  }

  input{
    outline: none;
  }
  .postInput{
    height: auto;
    /* background-color: #eeeeee; */
    padding: 10px 0px;
    /* WIDTH: 500px; */
    
  }
  .content{
    height: 100px;
  }
  /* .frnd.fn{
      display: none;
  } */

  .btnConfirm.fb{
    background-color:   #000b43;
  }
  .listFriend{
    width: 100px;
    display: grid;
    height: 100px;
    grid-template-columns: 120% 121% 0%;
  }
  .proFriend{
    /
  }
  .ownFriend{
    /* width: 22rem;
    height: 21rem; */
    display: flex;
    justify-content: space-between;
  }
  .allFreind{
    margin: auto;
  }

  .cover{
    background-image: url("https://www.sgs.com/-/media/sgscorp/images/natural-resources/large-sgs-world-edit.cdn.en.1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pics{
    width: 30px;
    color: black;
    background-color: white;
    border-radius: 8px;
    padding: 4px;
    
  }
.PicsProfil{
  position: relative;
}
.PicsProfil button{
  position: absolute;
}
.ownFriend{
  width: 22rem;
  height: 21rem;
  display: block;
  
}
@media(min-width:768px){
  .homeContent .service{
    width: 700px;
  }
  .postOther img{
    width: 100%;
  }
  .cover img{
    width: 90px;
    height: 90px;
    padding: 13px;
  }
  .bio .square{
    width: 200px;
    margin: auto;
  }
  .ownFriend{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .ownFriend .square{
    width: 49%;
  }
  .subHead .bio{
    /* display: grid; 
    grid-template-columns: 242px 229px 237px;  */
  }
  .postField .square{
    width: 49%;
  }
}
.bd form .PostInput{
  border: 1px solid #d7d7d7;
  outline: none;
  padding: 5px 15px;
}
.postField .square{
  background-color: white;
  /* border: 1px solid; */
  box-shadow: 0 0 10px #ddd;
  margin-top: 1rem;
  /* padding: 12px 0px; */
}
.square .bd{
  /* padding: 15px 3px; */
  /* border: 1px solid #f2f2f2; */
  margin: 14px 0px;
} 
@media(max-width: 767px){
  .homeContent .service{
    width: 90%;
    margin: 2rem auto;
  }
  .bio .square{
    width: 100%;
    margin: auto;
  }
  .cover img{
    width: 6rem;
    height: 6rem;
  }
  /* .postField{
    margin-top: 11rem;
  } */
}

.postField .midel{
    width: 90%;
    margin: auto;
}
.postOther img{
  width: 100%;
}


.notificaiton{
  display: none;
  transition: 1s;
}


.notificaiton.BlockNotifcation{
  display: block;
  transition: 1s;

} 
.MessageNotifiction{
  display: none;
  transition: 1s;
}
.MessageNotifiction.Blockmessage{
  display: block;
  transition: 1s;
} 
.messg .send{
  width: fit-content;
    background-color: #eeeeee;
    padding: 3px 12px;
    font-family: monospace;
    border-radius: 0px 5px 5px 20px;
    margin: 14px 0px;
}
.section{
    padding: 10px;
    background-color: #eaeaea;
    border-bottom: 1.2px solid #a2a2a2;
    box-shadow: 0px 0px 3px 1px #e1e1e1;
}
.redNot{
  position: absolute;
    background-color: #ef3838;
    padding: 0px 5px;
    color: white;
    border-radius: 5px;
    font-size: 11px;
}
.ms{
  right: 12rem;
  top: 9px;
}
.nt{
  right: 15.8rem;

  top: 9px;
}

.deleteFriend{
  background-color: #7289ff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    border-radius: 5px;
    position: absolute;
    z-index: 5;
}

.DeletePost:hover{
    background-color: #ff000000;
    align-items: center;
    color: red;
    transition: .7s;
}
.like{
  color: #e2e2e2;
}
.like.blue{
    color: #001996;
    transition: .5s;
    
}

.items div.red{
  color: red;
}
.share{
  background-color: #f1f1f1;
  width: 500px;
  position: fixed;
  left: 50%;
  top: 50%;
  display: none;
  border: 2px solid red;
  transform: translate(-50%,-50%);
}
.share.vsilibity{
  width: auto;
  display: block;
  padding: 10px;

}
.share div span{
  margin-right: 1rem;
}

.nt.BlockNotifcation{
  display: block;
}
.all td{
  padding: 10px 0px;
    background-color: #e8e8e8;
    margin: 10px 0px;
}
.login{
  background-color: #000b43;
  color: white;
  text-decoration: none;
  padding: 4px 20px;
}